# Python
__pycache__/
*.py[cod]
*.so

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# Environnement
.env
env/
venv/
.env.bak
*.env

# VSCode / IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
